index:
  path: /
  controller: App\Controller\DefaultController::index

app.swagger_ui:
  path: /api/doc
  methods: GET
  defaults: { _controller: nelmio_api_doc.controller.swagger_ui }

register:
  path: /register
  controller: App\Controller\UserController::register
  methods: POST

api_login_check:
  path: /api/login_check
  controller: App\Controller\UserController::getTokenUser

get_products:
  path: /api/products
  controller: App\Controller\ProductController::getProductsList